# Talli Android Signing Keys Credentials Template
TALLI_ANDROID_KEYSTORE_PASSWORD="your.period.separated.keystore.passphrase"
TALLI_ANDROID_KEY_PASSWORD="your.period.separated.key.passphrase"
TALLI_ANDROID_KEY_ALIAS="android"
TALLI_ANDROID_KEYSTORE_PATH="path/to/your/android.keystore"
